<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RunTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5BD69E41CCB58050058D8AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5BD69FD1CCB58050058D8AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5BD6A081CCB58050058D8AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
